version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "vacinacao-app"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-16fp4jr52e8qh"
s3_prefix = "vacinacao-app"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
image_repositories = ["VacinacaoFunction=244978745220.dkr.ecr.us-east-1.amazonaws.com/vacinacao-app", "VacinacaoFunctionIndexer=244978745220.dkr.ecr.us-east-1.amazonaws.com/vacinacao-app"]
tags = "project=\"vacinacao-app\" stage=\"prod\""


[beta]
[beta.deploy]
[beta.deploy.parameters]
stack_name = "vacinacao-app-beta"
s3_bucket = "aws-sam-cli-managed-beta-samclisourcebucket-16fp4jr52e8qh"
s3_prefix = "vacinacao-app"
region = "us-east-1"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
image_repositories = ["VacinacaoFunction=244978745220.dkr.ecr.us-east-1.amazonaws.com/vacinacao-app", "VacinacaoFunctionIndexer=244978745220.dkr.ecr.us-east-1.amazonaws.com/vacinacao-app"]
tags = "project=\"vacinacao-app\" stage=\"beta\""
