boto3==1.17.73
botocore==1.20.73
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cryptography==3.4.7
Flask==2.0.1
flask-lambda==0.0.4
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
lxml==4.6.3
MarkupSafe==2.0.1
pdfminer.six==20201018
pycparser==2.20
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.4.2
six==1.16.0
sortedcontainers==2.4.0
urllib3==1.26.4
Werkzeug==2.0.1
flask-cors==3.0.10
pytest  # TODO
pytest-snapshot  # TODO
