<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <!-- Bootstrap Table -->
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

</head>

<body>
<div class="container">
  <div class="row">
    <div class="column column-100">
      <h2>Vacinação COVID - Buscador de Nomes</h2>
      <h3>Lista Pública de Fortaleza</h3>
      <p>Fonte: <a target="_blank"
                   href="https://coronavirus.fortaleza.ce.gov.br/lista-vacinacao-d1.html">https://coronavirus.fortaleza.ce.gov.br/lista-vacinacao-d1.html</a>
      </p>
    </div>
  </div>

  <div class="row" id="search-container">
    <div class="column column-100">
      <form action="{{ BASE_URL }}search" id="name-form" method="post" onsubmit="submitName">
        <fieldset>
          <label for="name">Nome para buscar</label>
          <input type="text" placeholder="Ex: Antônio da Silva" name="name" id="name">
          <h6 style="color: red; display: none" id="no-input-warning">Você precisa digitar um nome para buscar.</h6>
          <input class="button-primary" type="button" id="search" value="Buscar">
        </fieldset>
      </form>
    </div>
  </div>

  <h5 id="not-found" style="display: none">Não foram encontrados resultados.</h5>

  <table id="results-table" style>
  </table>

  <script type="text/javascript">
    async function postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {'Content-Type': 'application/json'},
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      });
      return response.json(); // parses JSON response into native JavaScript objects
    }

    function sanitize(name) {
      name = name.replace(/[0-9]/g, '')
      name = name.normalize("NFD").replace(/[\u0300-\u036f]/g, "")
      name = name.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '')
      return name.trim()
    }

    function changeDataStructure(response) {
      let results = []
      response.forEach(function (result) {
        results.push(Object.values(result))
      })
      return results
    }

    function createDataTable(results) {
      new simpleDatatables.DataTable("#results-table", {
        searchable: false,
        fixedHeight: true,
        paging: false,
        footer: false,
        sortable: false,
        columns: [
          {
            select: 1,
            render: function (data, cell, row) {
              return data.replace(data, `<a href=${data}>${data}</a>`);
            }
          }
        ],
        data: {
          "headings": ["Nome", "URL","Data"],
          'data': changeDataStructure(results)
        },
        labels: {
          placeholder: "Search...",
          noRows: "A busca não retornou resultados.",
          info: "Showing {start} to {end} of {rows} entries",
        },
      })
    }

    function submitName(event) {
      event.preventDefault();
      const nameInput = document.getElementById('name');
      const noInputWarning = document.getElementById('no-input-warning');
      let name = sanitize(nameInput.value);  // Get rid of accents, numbers and symbols
      if (!name) {
        noInputWarning.style.display = '';
        return;
      }
      noInputWarning.style.display = 'none';
      postData('{{ BASE_URL }}search', {name: nameInput.value})
        .then(results => {
            createDataTable(results)
          }
        )
    }
    document.getElementById('search').addEventListener('click', submitName)
    document.getElementById('name-form').addEventListener('submit', submitName)
  </script>

</div>
</body>

</html>